@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  /* font-family: "Roboto", sans-serif; */
  background-color: #F6F8FF;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  overflow-x: hidden; 
}

body::-webkit-scrollbar {
  display: none;
}

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}
